.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 60vh;

    &__header {
        font-size: 20px;
    }

    &__paragraph {
        font-size: 13px;
    }
}