.mainPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 20px;

    color: #d6e5f3;
    font-family: Arial, sans-serif;


    background-image: url("/dist/assets/main-bg.jpg");
    background-size: cover;
}