.mainPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 20px;

    color: #bbcbdb;
    font-family: Arial, sans-serif;

    background-image: url("./assets/main-bg.jpg");
    background-size: cover;
}