.header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    max-width: 1500px;



    &__heading {
        font-size: 35px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;

        list-style: none;
    }

    &__list-item {

        font-size:  25px;

        &--link {
            color: inherit;
            text-decoration: none;

            transition: 350ms;

            &:hover {
                color: cornflowerblue;
            }
        }
    }
}